*{
    padding: 0;
    margin: 0;
    font-family: Arial,sans-serif;
}

header{
    height: 9vh;
    background-color: black;
}
nav {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 100px;
  padding: 0 54px;
}
nav ul {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: center;
}
nav ul a:hover{
    font-weight: bold;
}

nav ul a{
    text-decoration: none;
    padding: 0 18px;
    color: white;
    list-style: none;
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    margin: 11px 1vw;
    padding: 10px 22px;
    border-style: 31px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn{
    padding: 5px 6px;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
    background: #c68642;

}
.btn img{
    width: 13px;
}
main{
    height: 50vh;
    display: flex;
    
}
main .header2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232f3e;

    height: 8vh;
}
.header2 a{
    color: white;
    text-decoration: none;
    padding: 16.9px;
}
footer{
    max-height: calc(100 - 8vh - 9vh);
    background-color: #232F3E;
    color: white;
    height: 30vh;
    /* display: fl */
}